* {
  box-sizing: border-box;
}

html,
.wrapper {
  height: 100%;
}

.register {
  display: grid;
  height: 100%;
  place-items: center;
  margin: 0;
  margin-top: 100px;
  color: #1b1e40;
  animation: rotate 5s infinite alternate linear;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.login-card {
  width: 400px;
  padding: 60px 30px 32px;
  border-radius: 1.25rem;
  background: #ffffff;
  text-align: center;
  transition: 0.4s;
}

.login-h1 {
  font-size: 35px;
  margin-top: 10px;
}

.login-card > h2 {
  font-size: 36px;
  font-weight: 600;
  margin: 0 0 30px;
}

.login-card img {
  width: 260px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 5px;
  margin-bottom: 10px;
}

.login-form {
  width: 100%;
  margin: 0;
  display: grid;
}

.login-form input.control::placeholder {
  color: #9d9fbd;
}

.control {
  border: 1.5px solid #dfe1f0;
  outline: none;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  background: #f6f7ff;
  color: inherit;
  border-radius: 6px;
  margin: 8px 0;
  font-family: inherit;
  text-align: left;
  font-size: 18px;
  transition: 0.4s;
}

button.control {
  cursor: pointer;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  background: #454a8f;
  color: #f7f7f7;
  border: 0;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  transition: all 0.375s;
}

.bars {
  margin: 8px 0;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 6px;
  border-radius: 3px;
  background: #dfe1f0;
}

.bars div {
  height: 6px;
  border-radius: 3px;
  transition: 0.4s;
  width: 0%;
}

.bars.weak div {
  background: #e24c71;
  width: 33.33%;
}

.bars.medium div {
  background: #f39845;
  width: 66.66%;
}

.bars.strong div {
  background: #57c558;
  width: 100%;
}

.strength {
  text-align: left;
  height: 30px;
  text-transform: capitalize;
  color: #868b94;
}

#oops {
  position: fixed;
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 1.5rem;
  z-index: 9999;
}

#oops #error-text {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
}

#oops #error-text img {
  margin: 85px auto 20px ;
  height: 342px;
}

#oops #error-text span {
  position: relative;
  font-size: 3.3rem;
  font-weight: 900;
  margin-bottom: 50px;
}

#oops #error-text p.p-a {
  font-size: 19px;
  margin: 30px 0 15px 0;
  padding: 0 300px 0px ;
  text-align: center;
}

#oops #error-text p.p-b {
  font-size: 15px;
}